{
  "extends": "@rocketseat/eslint-config/react",
  "parser": "@typescript-eslint/parser",

  "plugins": ["eslint-plugin-import-helpers"],
  "rules": {
    "import-helpers/order-imports": [
      "warn",
      { 
        "newlinesBetween": "always",
        "groups": [
          "/^react/",
          "module",
          ["parent", "sibling", "index"]
        ],
        "alphabetize": { "order": "asc", "ignoreCase": true }
      }
    ]
  }
}